{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
{% set n = 0 %}
<nav class="breadcrumb-container" aria-label="Percorso di navigazione">
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb-item">
      {% set n = n + 1 %}
      {% if n > 1 %}
        <span class="separator">/</span>
      {% endif %}
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
